<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ma Idatul Jannah</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>

                <!-- Admin and user can see -->
                <ng-container *ngIf="userRole === 'admin' || userRole === 'user'">
                    <li class="nav-item">
                        <a class="nav-link" href="/allmenu">Menu</a>
                    </li>
                </ng-container>

                <!-- admin can see -->
                <ng-container *ngIf="userRole === 'admin' ">
                    <li class="nav-item">
                        <a class="nav-link" href="/addmenu">Add Menu</a>
                    </li>
                </ng-container>

                <div>
                    <li class="nav-item">
                        <a class="nav-link" href="/addemp">Add Employee</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewemp">view Employee</a>
                    </li>
                </div>

                <!-- admin can see -->
                <ng-container *ngIf="userRole === 'admin' ">
                    <li class="nav-item">
                        <a class="nav-link" href="/booktab">Show Booking</a>
                    </li>
                </ng-container>


                <!-- Admin and user can see -->
                <!-- <ng-container *ngIf="userRole === 'admin' || userRole === 'user'">
                    <li class="nav-item">
                        <a class="nav-link" href="/addbook">Book a Table</a>
                    </li>
                </ng-container> -->
                <div>
                    <li class="nav-item">
                        <a class="nav-link" href="/addbook">Book a Table</a>
                    </li>
                </div>
                <!-- <div>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-cashier">Customer Bill</a>
                    </li>
                </div> -->
                <div>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-cashier">Cashier Bill</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-menu">User menu</a>
                    </li>
                </div>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form>
                <button class="btn btn-outline-primary" type="submit" routerLink="login">Login</button>
                <button class="btn btn-outline-success" type="submit" routerLink="logout">Logout</button>
            </form>
        </div>
    </div>
</nav>



<router-outlet />


 <footer class="footer">
        <p style="background-color: black; color: white; text-align: center; padding: 1%;">© 2025 Ma Idatul Jannah Restaurant | 123 Jannah Street, Dhaka</p>
    </footer>